h1 {
  color: #4caf50;
  font-size: 84px;
  font-weight: 700;
}

.auth-card label {
  font-size: 22px;
}

.auth-card input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 0 0.25rem rgba(76, 175, 80, 0.25);
}

button{
  background-color: #4caf50;
  font-weight: 600;
  font-size: 18px;
  color: #F5F5DC;
  border: 2px solid #4caf50;
  transition: all .1s linear;
}

button:hover{
  border-color: #4caf50;
  background-color: #F5F5DC;
  color: #4caf50;
}

.switch a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.switch a:hover {
  text-decoration: underline;
}

.success {
  color: green;
  margin: 5px 0;
  font-weight: bold;
}

.error {
  color: red;
  margin: 5px 0;
  font-weight: bold;
}