h1 {
    font-size: 84px;
    color: #4caf50;
    font-weight: 700;
}
h2{
    color: #4caf50;
}

span{
    color: #795548;
}
/* 

span {
  border: #4caf50 2px solid;
  color: #4caf50;
  border-radius: 7px;
  font-weight: 500;
} */