<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <img src="assets/not-found.png" alt="Missing recipe" class="img-fluid">

    <h2 class="fs-3 text-secondary mb-4">Recipe Not Found!</h2>
    <p class="lead mb-4 text-center">We couldn't find the page you're looking for. It might have been moved, deleted, or perhaps
        you mistyped the address.</p>

    <a routerLink="/" class="btn btn-success btn-lg px-4">
        <i class="bi bi-house-door me-2"></i>Back to Homepage
    </a>
</div>